<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
<script src="//unpkg.com/vue/dist/vue.js"></script>
<script src="//unpkg.com/element-ui@2.4.11/lib/index.js"></script>
<script src="https://unpkg.com/axios/dist/axios.min.js"></script>
<script src="/pages/js/vue-router@3.0.1.js"></script>
<script src="/pages/js/moment.js"></script>
<script src="https://cdn.staticfile.org/vue-resource/1.5.1/vue-resource.min.js"></script>
<script type="text/javascript" src="https://cdn.bootcss.com/jquery/3.2.1/jquery.js"></script>

<style type="text/css">
@import url("//unpkg.com/element-ui@2.4.11/lib/theme-chalk/index.css");
body{overflow-x:hidden;overflow-y:auto;}

.weitiao{
	width: 100%;
    height: 100%;
}
.el-table__empty-block{
	height:100%;
}
.pos{
	float:right
}
</style>



</head>
<body>

<div id="app">
	<el-row>
	  <el-col :span="24">
	  	<div class="grid-content bg-purple-dark">
	  		<el-form :inline="true" :model="formInline" ref = "formInline" class="demo-form-inline">
			  <el-form-item label="名字 :" prop="name">
			    <el-input v-model="formInline.name" placeholder="请输入名字"></el-input>
			  </el-form-item>
			  <el-form-item label="创建人 :" prop="user">
			  	<el-input v-model="formInline.user" placeholder="请输入创建人"></el-input>
		    <!-- 
			    <el-select v-model="formInline.region" placeholder="活动区域">
			      <el-option label="区域一" value="shanghai"></el-option>
			      <el-option label="区域二" value="beijing"></el-option>
			    </el-select> 
			-->
			  </el-form-item>
			  <el-form-item>
			    <el-button type="primary" @click="onSubmit">查询</el-button>
			  </el-form-item>
		  	<el-button type="primary" class="pos" icon="el-icon-circle-plus" @click="createNewDate">创建</el-button>
			</el-form>
			
	  	</div>
	  </el-col>
	</el-row>
	<el-container v-cloak>
	<div class="weitiao">
		<template>
			
			  <el-table :data="tableData" text-aline="center" border >
			    <el-table-column prop="id" label="ID" >
			    </el-table-column>
			    <el-table-column prop="name" label="名字" >
			    </el-table-column>
			    <el-table-column prop="note" label="备注" >
			    </el-table-column>
			    <el-table-column prop="url" label="路径">
			    </el-table-column>
			    <el-table-column prop="createdUser" label="创建人" >
			    </el-table-column>
			    <el-table-column prop="createdTime" :formatter="dateFormat" label="创建时间" >
			    </el-table-column>
			    <el-table-column prop="modifiedTime" :formatter="dateFormat"  label="修改时间" >
			    </el-table-column>
			  </el-table>
			  <el-pagination 
			  	@size-change="handleSizeChange" 
			  	@current-change="handleCurrentChange" 
			  	:current-page="currentPage" 
			  	:page-sizes="[8, 16 ,24, 32,40]" :page-size="pageSize" 
			  	layout="total, sizes, prev, pager, next, jumper" :total="totalCount">
			  </el-pagination>
		</template>
		<el-dialog title="添加信息 :" :visible.sync="centerDialogVisible" width="70%" >
		  	<el-row   :gutter="32" >
				<el-form :inline="true" :model="addform" ref="addform" class="demo-form-inline">
					<el-col :span="8">
				  <el-form-item label="名字 :" prop="name">
				    <el-input v-model="addform.name" placeholder="名字"></el-input>
				  </el-form-item>
				  </el-col>
					<el-col :span="8">
				  <el-form-item label="备注 :" prop="note">
				    <el-input v-model="addform.note" placeholder="备注"></el-input>
				  </el-form-item>
				  </el-col>
				  <el-col :span="8">
				  <el-form-item label="路径 :" prop="url">
				  	<el-input v-model="addform.url" placeholder="路径"></el-input>
				    <!-- <el-select v-model="addform.region" placeholder="活动区域">
				      <el-option label="区域一" value="shanghai"></el-option>
				      <el-option label="区域二" value="beijing"></el-option>
				    </el-select> -->
				  </el-form-item>
				  </el-col>
				  
				</el-form>
			</el-row>		  
		  <span slot="footer" class="dialog-footer">
		    <el-button @click="centerDialogVisible = false">取 消</el-button>
		    <el-button type="primary" @click="submitInfo">提交</el-button>
		  </span>
		</el-dialog>
		</div>
	</el-container>
</div>
<script type="text/javascript">
	var vue = new Vue({
		el:'#app',
		data:{
			tableData:[],
			formInline:{},
			pageSize:8,
			//当前页
			currentPage: 1,
			totalCount:168,
			urlQuery:'/menu/queryList',
			urlAddInfo:'/menu/createInfo',
			 //搜索条件
			seachForm:'',
			centerDialogVisible: false,
			addform:{
				
			},
			formLabelWidth: '120px',
		},
		methods:{
			loadData:function(seachForm,pageSize,pageNum){
				var d = this;
				axios.get(d.urlQuery+"/"+pageSize+"/"+pageNum +"?seachForm="+seachForm ).then(function(res){
					console.log(res)
                    d.tableData = res.data.data.list;
                    d.totalCount = res.data.data.total;
                },function(){
                    console.log('failed');
                });  
			},
			createNewDate:function(){
				var d = this;
				d.centerDialogVisible = true;
				
				//window.location.href="/pages/menus/addMenu.html";
			},
			handleSizeChange:function(val){
				
			},
			onSubmit() {
				console.log(this.formInline);
			},
			submitInfo:function(){
				var d = this;
				d.addform.admin = "chenyi";
				d.addform.admin='chenyi',
				d.$http.post(d.urlAddInfo,d.addform).then(function(res){
					console.log(res.body.result.msg);
					if(res.body.result.code == 200){
						this.$alert('menu添加'+res.body.result.msg, '创建nenu信息', {
							confirmButtonText: '确定',
							callback: action => {
				            this.$message({
				              type: 'sucess',
				           });
				         }
				      });
					}else{
						this.$alert('menu添加'+res.body.result.msg, '创建nenu信息', {
							confirmButtonText: '确定',
							callback: action => {
				            this.$message({
				              type: 'warning',
				           });
				         }
				      });
					}
				});
				d.centerDialogVisible = false;
				d.addform={};
			},
			handleCurrentChange:function(val) {
				vue.loadData(vue.seachForm,vue.pageSize,val);
			},
			//时间格式化 
		      dateFormat:function(row, column) { 
		        var date = row[column.property]; 
		     if (date == undefined) { 
		       return ""; 
		     } 
		     return moment(date).format("YYYY-MM-DD HH:mm:ss"); 
		      } 
		    } ,

			/* dateFormat:function(timestamp) {
				console.log(timestamp)
		        var date = new Date(timestamp * 1000);//时间戳为10位需*1000，时间戳为13位的话不需乘1000
		        var Y = date.getFullYear() + '-';
		        var M = (date.getMonth()+1 < 10 ? '0'+(date.getMonth()+1) : date.getMonth()+1) + '-';
		        var D = date.getDate() + ' ';
		        var h = date.getHours() + ':';
		        var m = date.getMinutes() + ':';
		        var s = date.getSeconds();
		        return Y+M+D+h+m+s;
		    }, */
		   
			getCookie:function(cname){
			    varname=cname+"=";
			    var ca = document.cookie.split(';');
			    for(var i=0; i<ca.length; i++){
				    var c = ca[i].trim();
				    if(c.indexOf(name)==0){
				    	return(c.substring(name.length,c.length));
				   	}
				    return "";
			    }
			},
			restForm:function(formInline){
				this.$refs[formInline].resetFields();
			}
		
	});
	vue.loadData(vue.seachForm, vue.pageSize,vue.currentPage);
</script>
</body>
</html>